/* variables de colores */
$background: rgb(243, 240, 240);
$background__menus: linear-gradient(90deg, #805e43 0%, #987957 12%, #b1966d 24%, #e0d39c 48%, #d1bf8c 61%, #c1ab7d 74%, #a18560 100%, rgba(173, 125, 81, 0.75) 100%, rgba(189, 114, 65, 0.5) 100%, rgba(255, 0, 0, 0) 100%);
$color__logo--inicial: #ff4500;
$color__logo--inter: #0b0b0be1;
$color__logo--final: #0000ff;
$color__texto--white: #fff;