.navbar-brand{
    img{
        @include size__image(15vw,15vh);
    }
}
ul.navbar-nav{
    li{
        a{
            @extend a.nav-link;
        }
    }
}
body, .color-de-animacion{
    background-color:$background;
}
.color-de-fondo{
    background: $background__menus;
}
.color-inicio{
    @include color__font($color__logo--inicial,$font__main);
}
.color-inter{
    @include color__font($color__logo--inter,$font__main);
}
.color-final{
    @include color__font($color__logo--final,$font__main);
}
.color-fondo{
    background-color: $color__logo--final;
}
.btn-primary:focus{
    background-color: $color__logo--final !important;
}
.btn-primary:hover{
    background-color: $color__logo--inicial !important;
}
.btn-primary:active, .btn-primary:visited {
    background-color: $color__logo--final !important;
}
/* para la union del sombra svg, junto con el header y footer */
.top-curve{
    transform: translateY(-5px);
    @include size__image(100vw,6.775rem);
}
.bottom-curve{
    transform: translateY(90px);
    @include size__image(100vw,6.775rem);
}
/* conocenos.html */
#panel-color-mision.accordion-button{
    color: $color__logo--final;
    &:focus{
        color: $color__logo--inicial;
    }
    &.collapsed::after {
        color: $color__logo--inicial;
        background: blue;
    }
    &.collapsed::before{
        color: $color__logo--inicial;
        background: blue;
    }
}
#panel-color-vision.accordion-button{
    color: $color__logo--final;
    &:focus{
        color: $color__logo--inicial;
    }
    &.collapsed::after {
        color: $color__logo--inicial;
        background: blue;
    }
    &.collapsed::before{
        color: $color__logo--inicial;
        background: blue;
    }
}
/* comprar.html */
a.btn:hover, button.btn:hover{
    background-color: $color__logo--inicial !important;
    cursor: pointer;
}
/* Galeria.html */
.card{
    border-radius: .5rem 0 2rem;
    &:hover{
        border-color: $color__logo--final;
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
        cursor: pointer;
        .card-button{
            transform: translate(-50%, 50%);
            opacity: 1;
        }
    }
}
.card-button{
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: $color__logo--final;
    color: $color__texto--white;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;

}
/* imagen en galeria */
.card-imagen{
    @include size__image(45vw,auto);
}
@media only screen and (min-width: 200px) {
    .card-imagen{
        width: 35vw;
    }
    .bottom-curve{
        transform: translateY(84px);
    }
}
@media only screen and (min-width: 576px) {
    .card-imagen{
        width: 28vw;
    }
    .bottom-curve{
        transform: translateY(56px);
    }
}
@media only screen and (min-width: 768px) {
    .card-imagen{
        width: 22vw;
    }
    .bottom-curve{
        transform: translateY(37px);
    }
}
@media only screen and (min-width: 992px) {
    .card-imagen{
        width: 12vw;
    }
    .bottom-curve{
        transform: translateY(12px);
    }
}
@media only screen and (min-width: 1200px) {
    .card-imagen{
        width: 14vw;
    }
    .bottom-curve{
        transform: translateY(6px);
    }
}
@media only screen and (min-width: 1400px) {
    .card-imagen{
        width: 12vw;
    }
    .bottom-curve{
        transform: translateY(6px);
    }
}
/* animacion comunicate con nosotros */
.animacion-de-texto{
    width: 100vw;
    transform: translateX(100%);
    -webkit-animation: desplazamiento 20s linear  infinite;
    animation: desplazamiento 20s linear  infinite;
}
@keyframes desplazamiento{
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
}
/* Animaciones bottones */
.movimiento-button:hover{
    animation: movimiento 0.3s linear infinite both;
    cursor: pointer;
} 
@keyframes movimiento {
    0% {
     transform: translate(0);
    }
   
    20% {
     transform: translate(-2px, 2px);
    }
   
    40% {
     transform: translate(-2px, -2px);
    }
   
    60% {
     transform: translate(2px, 2px);
    }
   
    80% {
     transform: translate(2px, -2px);
    }
   
    100% {
     transform: translate(0);
    }
}
/* creacion de clases de width y height responsive para bootstrap. Este loop crea clases .w y .h para bootstrap para poder usar de forma responsive. Por ejemplo se puede utilizar la clase w-md-25. por lo tanto el width sera del 25% en el breakpoint de >= 768px */
@each $nombre, $porcentaje in $grid-breakpoints {
    @include media-breakpoint-min($porcentaje) {
        $infix: breakpoint-key($nombre);
        @each $prop, $abbrev in $medidas {
            @each $size, $length in $sizes {
                .#{$abbrev}#{$infix}-#{$size} { 
                    #{$prop}: $length !important;
                }
            }
        }
    }
}
