/* variables map para los breackpoints, sizes de los width y height junto con sus nombres de clases */
$grid-breakpoints: (
  xs: 200px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
);
$medidas:(
  width: w,
  height: h,
);